[Unit] 
Description=Maquinaria .NET Core application on Linux

[Service] 
WorkingDirectory=/usr/share/html/maquinaria 
ExecStart=/usr/bin/dotnet /usr/share/html/maquinaria/maquinariaBackendCore.dll
Restart=always 
RestartSec=10 # Restart service after 10 seconds if dotnet service crashes 
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target
